<app-navbar></app-navbar>

<div class="jumbotron text-center">
    <h1 class="diaplay-4">About Us</h1>
    <p class="lead">This is about us page</p>
</div>

<div class="container">
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nesciunt quia omnis, voluptates, repellendus
            libero aut perferendis ab similique quas, iste debitis eligendi deserunt ducimus ratione dignissimos
            cupiditate ipsa. Ut!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita neque necessitatibus ut amet reiciendis
            quas, quod earum cumque laudantium eum veniam quis, voluptates quae nisi facilis? Perferendis placeat
            eveniet odio.</p>
    </section>
</div>